.temp-label {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.75rem;
}

.outer-container {
  overflow: hidden;
}

.container { 
  max-width: 30rem;
  margin: auto;
  
  display: flex;
  & > * {
    flex-basis: 100%;
  }
}

.action-button {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  line-height: calc(3rem - 6px);
  border: 3px solid white;
  color: white;
  background: black;
  border-radius: 100%;
  transition: background-color 100ms, transform 100ms;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  &:hover {
    background: rgba(155, 155, 155, 0.5);
    transform: scale(1.2);
  }
  
  &:active {
    transform: scale(1);
  }
}

.delete-buttons-container {
  display: flex;

  & > * + * {
    margin-left: 1rem;
  }
}

.flex-grow {
  flex-grow: 1;
}

.delete-message {
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.modal-button {
  display: inline-block;
  border: 0.25rem solid #eee;
  border-radius: 100px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: black;
  color: #eee;
  transition: transform 50ms;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
  font-weight: bold;

  &:hover {
    // background: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
  }
  
  &:active {
    transform: scale(0.9);
  }

  &.danger {
    color: var(--clr-danger);
    border-color: var(--clr-danger);
  }
}

.modal-button.icon {
  line-height: 1;

  & > * {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
}

.new-task-form {
  span {
    margin-bottom: 1rem;
    display: block;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5rem;
  }

  .input-container {
    border-radius: 100px;
    padding: 0.25rem;
    background: var(--bg-gradient);
    margin: 0 -0.75rem;
    margin-bottom: 1.5rem;
    
    input {
      display: block;
      width: 100%;
      padding: 0.5rem 0.75rem;
      border-radius: 100px;
      border: 0;
      background: black;
      color: white;
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  

  button, input {
    font-family: inherit;
  }
}