<div class="container">
  <div></div>
  <div></div>
  <div>
    <button class="add-button" (click)="this.toggleModal()">
      +
    </button>
  </div>
</div>
<app-modal [show]="this.showModal" (onToggle)="this.toggleModal()">
  <form class="new-task-form" [formGroup]="newTaskControl" (ngSubmit)="newTaskSubmit()">
    <label>
      <span>Nova tarefa</span>
      <div class="input-container">
        <input type="text" formControlName="title" placeholder="Fazer..."/>
      </div>
    </label>
    <div class="button-container">
      <button type="submit">
        Adicionar
      </button>
    </div>
  </form>
</app-modal>