<div class="container" [@onMount]="'show'">
  <div>
    <button class='action-button' (click)="toggleDeleteModal()">
      <mat-icon>
        delete_outline
      </mat-icon>
    </button>
  </div>
  <div></div>
  <div>
    <button class='action-button' (click)="toggleModal()">
      <mat-icon>
        add_task
      </mat-icon>
    </button>
  </div>
</div>

<app-modal  [size]="'sm'" [show]="showDeleteModal" (onToggle)="toggleDeleteModal()">
  <p class="delete-message">Deseja mesmo apagar todas as tarefas?</p>
  <div class="delete-buttons-container">
    <button class="modal-button icon flex-grow" (click)="toggleDeleteModal()">
      <mat-icon>
        close
      </mat-icon>
    </button>
    <button class="modal-button icon danger" (click)="deleteAllTasks()">
      <mat-icon>
        delete_outline
      </mat-icon>
    </button>
  </div>
</app-modal>

<app-modal [show]="showModal" (onToggle)="toggleModal()">
  <form class="new-task-form" [formGroup]="newTaskControl" (ngSubmit)="newTaskSubmit()">
    <label>
      <span>Nova tarefa</span>
      <div class="input-container">
        <input type="text" formControlName="title" placeholder="Fazer..."/>
      </div>
    </label>
    <div class="button-container">
      <button type="submit" class="modal-button">
        Adicionar
      </button>
    </div>
  </form>
</app-modal>