<div class="list-container">
  <div class="list-items">
    <div class="list-item">
      <div class="item-marker-container">
        <div class="item-marker"></div>
      </div>
      <div class="item-label">aaa</div>
    </div>
    <div class="list-item done">
      <div class="item-marker-container">
        <div class="item-marker done"></div>
      </div>
      <div class="item-label">bbb</div>
    </div>
    <div class="list-item">
      <div class="item-marker-container">
        <div class="item-marker"></div>
      </div>
      <div class="item-label">ccc</div>
    </div>
    <div class="list-item">
      <div class="item-marker-container">
        <div class="item-marker"></div>
      </div>
      <div class="item-label">ddd</div>
    </div>
    <div class="list-item done">
      <div class="item-marker-container">
        <div class="item-marker done"></div>
      </div>
      <div class="item-label">eee</div>
    </div>
    <div class="list-item done">
      <div class="item-marker-container">
        <div class="item-marker done"></div>
      </div>
      <div class="item-label">fff</div>
    </div>
    <div class="list-item">
      <div class="item-marker-container">
        <div class="item-marker"></div>
      </div>
      <div class="item-label">ggg</div>
    </div>
    <div class="list-item">
      <div class="item-marker-container">
        <div class="item-marker"></div>
      </div>
      <div class="item-label">hhh</div>
    </div>
    <div class="list-item">
      <div class="item-marker-container">
        <div class="item-marker"></div>
      </div>
      <div class="item-label">iii</div>
    </div>
    <div class="list-item">
      <div class="item-marker-container">
        <div class="item-marker"></div>
      </div>
      <div class="item-label">jjj</div>
    </div>
    <div class="list-item">
      <div class="item-marker-container">
        <div class="item-marker"></div>
      </div>
      <div class="item-label">kkk</div>
    </div>
    <div class="list-item grow"></div>
  </div>
</div>