:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.howto-message {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
}

.list-container {
  list-style: none;
  display: grid;
  padding: 0.25rem;
  background: var(--bg-gradient);
  border-radius: 2rem;
  height: 50vh;
  flex-grow: 1;
  max-width: 30rem;
  margin: auto;
  width: 100%;
}

.list-items {
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.list-item {
  padding: 1rem 1.25rem;
  background-color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  transition: background-color 100ms;
  cursor: pointer;

  &.done {
    background-color: rgba(0, 0, 0, 0);
  }

  & + & {
    margin-top: 0.25rem;
  }

  &:hover:not(.done), &:hover:not(.done) .item-marker {
    background: rgba(0, 0, 0, 0.7);
  }

  &.grow {
    flex-grow: 1;
    pointer-events: none;
  }
}


.item-marker-container {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.2rem;
  background-color: white;
  margin-right: 0.75rem;
  border-radius: 100%;
  flex-shrink: 0;

  .done & {
    background: black;
    opacity: 0.5;
  }
}

.item-marker {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 100%;
  transition: background-color 100ms, opacity 100ms;

  .done & {
    background: transparent;

    img {
      filter: invert(1);
    }
  }
}

.item-label-container {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
}

.item-label {
  position: relative;
  transition: color 100ms, opacity 100ms;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &::after {
    display: block;
    position: absolute;
    left: -5px;
    right: -5px;
    top: 50%;
    height: 3px;
    background: black;
    opacity: 0.5;
    transform: translateY(-50%);
  }

  .done & {
    color: black;
    opacity: 0.5;

    &::after {
      content: '';
    }
  }
}

.empty-list-message {
  background: black;
  padding: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.close-container {
  line-height: 0;

  button {
    background: none;
    font-family: inherit;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    margin-left: 1rem;
    font-size: 1.25rem;
    padding: 0.75rem;
    margin: -0.75rem;
    line-height: 1;
    transition: color 100ms, opacity 100ms;
    line-height: 0;
    color: #eee;
    
    mat-icon {
      font-size: 24px;
      width:24px;
      height: 24px;
    }

    .done & {
      color: black;
      opacity: 0.5;
    }

    &:hover {
      color: var(--clr-danger) !important;
      opacity: 1 !important;
    }
  }
}


$scrolball-color: rgb(255, 255, 255, 0.8);

/* Firefox */
.list-items {
  scrollbar-width: auto;
  scrollbar-color: $scrolball-color $scrolball-color;
}

/* Chrome, Edge, and Safari */
.list-items::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

.list-items::-webkit-scrollbar-track {
  background: transparent;
}

.list-items::-webkit-scrollbar-thumb {
  background-color: $scrolball-color;
  border-radius: 10px;
  border: 2px solid transparent;
}