<!-- <p class="howto-message">Clique duplo para marcar como feita / a fazer</p> -->
<p class="howto-message">Clique duplo para alterar</p>

<div class="list-container">
  <div class="list-items">
    <div *ngIf="!tasks.length" [@shrinkOutMessage]="'in'" class="empty-list-message">
      Sem tarefas
    </div>
    <div
      *ngFor="let task of tasks"
      [@shrinkOut]="'in'"
      [class]="task.done ? 'list-item done' : 'list-item'"
      (dblclick)="toggleDone(task.id)"
    >
      <div class="item-marker-container">
        <div class="item-marker fade">
          <img *ngIf="task.done" src="/assets/check-solid.svg">
        </div>
      </div>
      <div class="item-label-container fade">
        <div class="item-label">
          {{ task.task }}
        </div>
      </div>
      <div class="close-container fade">
        <button (click)="deleteTask(task.id)">
          <mat-icon>
            close
          </mat-icon>
        </button>
      </div>
    </div>
    <div class="list-item grow"></div>
  </div>
</div>