<div class="list-container">
  <div class="list-items">
    <div
      *ngFor="let task of tasks"
      [class]="task.done ? 'list-item done' : 'list-item'"
      (dblclick)="toggleDone(task.id)"
    >
      <div class="item-marker-container">
        <div class="item-marker">
          <img *ngIf="task.done" src="/assets/check-solid.svg">
        </div>
      </div>
      <div class="item-label">
        {{ task.task }}
      </div>
    </div>
    <div class="list-item grow"></div>
  </div>
</div>