* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --bg-gradient: linear-gradient(213.19deg, #001AFF 0%, #FFBF1A 48.57%, #E100F5 100%);
}

body {
  background-color: #000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}